<h1>The AJAX Cart!! :D!!!</h1>

<div class="row">
  <div class = "eight columns">
  <ul>
  <% @items.each do |item| %>
    <li>Name: <%= item.name %></li>
    Price: $<%= item.price / 100 %>
    <br>
    <a href="#" class="add-item button round" data-item-id="<%=item.id%>">Add to Cart :D</a>
  <% end %>
  </ul>
</div>

<div class="cart four columns">
  <h2>Cart! :D :) :></h2>
</div>

</div>

<script type="text/javascript">
  $(function() {
    $('a').click(function() {
      item_id = parseInt($(this).attr('data-item-id'));

      $.post("cart_items.json", {
        cart_item: {
          item_id: item_id
        }
      }, function(response) {
        $.getJSON(
          "/cart_items.json",
          function(data){
            $('.cart').empty();
            $(data).each(function() {         // need to finish this
              // need to finish this section
            })
          }
        )
      })
    })
  })
</script>